this is relation

<p>
  <b>Note:</b>
  <%= @interview.note %>
</p>

<p>
  <%= link_to_function "search_diagnosis", "common.openSubWindow(this)",
      :href => "search_diagnosis/" %>
</p>

<%= hidden_field_tag "interview_id", @interview.id %>

<%= content_tag :div, :id => "interview_diagnoses_list" do %>
  <%= render(:partial => "diagnoses_list") %>
<% end =%>
