<%= form_tag({:action => "ajax_search_diagnosis_start"}, :remote => true) do %>
<div class="field float-left">
  <%= label_tag :diagnosis_name %><br />
  <%= text_field_tag :name %>
</div>

<div class="field float-left">
  <%= submit_tag "search"  %>
</div>
<% end =%>


<%= content_tag :div, :id => "search_diagnosis_result" do %>
  <%= render(:partial => "search_diagnosis_result") %>
<% end =%>
