<h1>settings</h1>

<%= tag :br %>

<%= link_to "menu", {:controller => :menu, :action => :index} %>

<%= tag :br %>
<%= tag :br %>

<%= link_to "interview_list", {:controller => :interviews, :action => :index} %>

<%= tag :br %>
<%= tag :br %>

<%= link_to "diagnoses", {:controller => :diagnoses, :action => :index} %>

<%= tag :br %>
<%= tag :br %>
