this is relation

<p>
  <b>Description:</b>
  <%= @diagnosis.description %>
</p>

<p>
  <%= link_to_function "search_interview", "common.openSubWindow(this)",
      :href => "search_interview/" %>
</p>

<%= hidden_field_tag "diagnosis_id", @diagnosis.id %>

<%= content_tag :div, :id => "diagnosis_interviews_list" do %>
  <%= render(:partial => "interviews_list") %>
<% end =%>
