this is search_interview

<div class="field float-left">
  <%= label_tag :search_interview_note %><br />
  <%= text_field_tag :search_interview_note, "", :class => "search_interview_note" %>
</div>

<div class="field float-left">
  <%= button_to_function "search", "common.searchInterviewStart()" %>
</div>


<%= content_tag :div, :id => "search_interview_result" do %>
  <%= render(:partial => "search_interview_result") %>
<% end =%>
